PointerAlignment: Left
Language: Cpp
BasedOnStyle: Chromium
IndentWidth: 2
ColumnLimit: 999
UseTab: Never
NamespaceIndentation: None
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 0
IndentWrappedFunctionNames: false
AlwaysBreakAfterDefinitionReturnType: TopLevel
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: false
IndentCaseLabels: false